---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const posts = await getCollection("blog")
	.then((posts) => posts.filter((post) => post.data.draft !== true || import.meta.env.DEV))
	.then((posts) => posts.sort((a, b) => b.data.created.getTime() - a.data.created.getTime()));
---

<BaseLayout title="Blog">
	<header class="my-5">
		<h1 class="text-4xl">Blog</h1>
		<p>My writings, articles and blog posts.</p>
	</header>
	<main>
		<ul>
			{
				posts.map((post) => (
					<li>
						<article>
							<header>
								<h2 class="text-3xl">{post.data.title}</h2>
								<p>{dayjs(post.data.created).format("DD.MM.YYYY")}</p>
								<ul>
									{post.data.tags.map((tag) => (
										<li>{tag}</li>
									))}
								</ul>
							</header>
							<a href={`/blog/${post.slug}`}>Read more</a>
						</article>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>
