---
import BaseLayout from "@layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
import ProfilePicture from "@assets/images/profile.png";

const CV_URL = "https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf";
---

<BaseLayout>
	<section class="my-10 mt-20 md:mt-56 h-1/2 flex flex-col md:flex-row-reverse justify-between gap-8">
		<div class="flex justify-center">
			<Image src={ProfilePicture} alt="Stanisław Nieradko" class="h-full w-auto max-h-64 md:max-h-64 lg:max-h-96" />
		</div>
		<div class="flex flex-col justify-center">
			<h1 class="text-4xl md:text-5xl lg:text-6xl text-center md:text-left bold">Stanisław Nieradko</h1>
			<p class="text-lg text-center md:text-left text-gray-300">Backend Software Developer</p>
			<div class="flex gap-4 mt-16 md:mt-8 justify-center md:justify-normal">
				<a href="/blog/" class="clean btn btn-primary">Checkout my blog</a>
				<a href={CV_URL} target="_blank" class="clean btn">Download my CV</a>
			</div>
		</div>
	</section>
</BaseLayout>
