---
import BaseLayout from "@layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
import ProfilePicture from "@assets/images/profile.png";
import Button from "@components/Button.astro";
import ListIcon from "@assets/icons/list.svg?raw";
import DownloadIcon from "@assets/icons/download.svg?raw";

const CV_URL = "https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf";
---

<BaseLayout>
	<section class="my-10 mt-20 md:mt-56 h-1/2 flex flex-col md:flex-row-reverse justify-between gap-8">
		<div class="flex justify-center items-center">
			<Image src={ProfilePicture} alt="Stanisław Nieradko" class="h-full w-auto max-h-64 md:max-h-52 lg:max-h-80 rounded-lg" />
		</div>
		<div class="flex flex-col justify-center">
			<h1 class="text-5xl md:text-6xl lg:text-7xl text-center md:text-left bold text-nowrap">Stanisław Nieradko</h1>
			<p class="text-lg text-center md:text-left text-gray-300">Backend Software Developer</p>
			<div class="flex gap-8 mt-16 md:mt-12 justify-center md:justify-normal">
				<Button href="/blog/" variant="primary"><Fragment set:html={ListIcon} />Checkout my blog</Button>
				<Button href={CV_URL}><Fragment set:html={DownloadIcon} />Download my CV</Button>
			</div>
		</div>
	</section>
</BaseLayout>
