---
import config from "@config";
---

<header class="flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-center">
	<div>
		<a href="/" class="clean text-white text-4xl block origin-top-left transition-transform hover:scale-110">{config.siteTitle}</a>
	</div>
	<nav>
		<ul class="flex gap-4">
			{
				config.menu.map((item) => (
					<li>
						<a href={item.path} class="clean animated-underline text-white before:bg-white">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
