---
import config from "@config";
import Link from "@components/shared/Link.astro";
---

<header class="flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-center">
	<div>
		<Link href="/" class="text-4xl" color="white">{config.siteTitle}</Link>
	</div>
	<nav>
		<ul class="flex gap-4">
			{
				config.menu.map((item) => (
					<li>
						<Link href={item.path} color="white">{item.name}</Link>
					</li>
				))
			}
		</ul>
	</nav>
</header>
